*{
        margin: 0rem;
        padding: 0rem;
        box-sizing: border-box;
        font-family: inter;
        /* scroll-behavior: smooth;
        scrollbar-color: #e60000; */
}
@font-face {
        font-family: inter;
        src: url("../Inter/Inter-VariableFont_slnt\,wght.ttf");
}
@font-face {
        font-family: miama;
        src: url("../miama/Miama.ttf");
}
body{
        /* background: linear-gradient(180deg, rgb(17, 17, 17),rgba(0, 0, 0, 0.774),rgba(0, 0, 0, 0.76),rgba(0, 0, 0, 0.74) 100%); */
        background-color: rgb(0, 0, 0);
}
header{
        max-width: 1440px;
        margin: 0 auto;
        background: linear-gradient(180deg, rgb(17, 17, 17),rgba(49, 49, 49, 0.877),rgba(0, 0, 0, 0.918) 100%);
        /* background-color: #E6533C; */
}
nav{
        display: flex;
        max-width: 1080px;
        margin: 0px auto;
        /* background-color: #ffffff8e; */
        justify-content: space-between;
        align-items: center;
}
.nav-logo-name a{
        font-size: 2.25rem;
        font-weight: 800;
        text-decoration: none;
        color: #E6533C;
}
.nav-list-menu ul{
        display: flex;
        padding: 0.50rem 1.5rem 0.60rem 0.1rem;
        gap: 3rem;
        list-style: none;
        margin: 50px 0px;
        border-radius: 40px;
        border: 1px solid #FFFFFF1A;
}
.nav-list-menu ul li a{
        font-size: 1.2rem;
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
}
.list-spans{
        padding: 10px 28px 10px 28px;
        background-color: #E6533C;
        border-radius: 46px;
        border: none;
        cursor: pointer;
}

.menu-bar a{
        display: none;
}
.menu-bar-icon{
        width: 3px;
        height: 2px;
        padding: 0.58px 10px 0.58px 10px;
        margin-bottom: 2px;
        background-color: #ffffff;
}


/* header */

.hero-container{
        max-width: 1080px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
}
.hero-tittle{
        margin-left: -19%;
}
.hero-tittle-text{
        color: #ffffff;
        font-size: 78px;
        font-weight: 900;
        margin-top: 80px;
}
.style-tittle{
        letter-spacing: 0.5px;
        font-family: miama;
}
.description{
        font-size: 1rem;
        color:#FFFFFF80;
        margin-top: 1.75rem;
        margin-bottom: 1.75rem;
}
.btn{
        display: flex;
}
.btn-primary {
        font-size: 1rem;
        font-weight: 600;
        color: #ffffff;
        box-sizing: border-box;
        border-radius: 35px;
        border: 1px solid  #E6533C;
        padding: 0.70rem 2.00rem;
        background: #E6533C;
        margin-bottom: 6.25rem;
        cursor: pointer;
}
.btn-primary-2{
        font-size: 1rem;
        font-weight: 600;
        color: #ffffff;
        box-sizing: border-box;
        border-radius: 35px;
        border: 1px solid  #ffffff;
        padding: 0.70rem 2.00rem;
        background: transparent;
        margin-left: 10px;
        cursor: pointer;
}
.hero-main-img{
        position: relative;
        left: -50px;
}
.hero-main-img img{
        position: absolute;
        left: -110px;
}
.hero-main-img-text{
        position: absolute;
        top: 140px;
        left: 100px;
        width: 144px;
        border-radius: 1rem;
        padding: 1.05rem;
        z-index: 999;
        backdrop-filter: contrast(0.885);
        -webkit-backdrop-filter: contrast(0.885);
        color: #ffffff;
}
.hero-main-img-text-3{
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 12rem;
        top: 26.5rem;
        left: -14rem;
        border-radius: 1rem;
        padding: 1.25rem 1.05rem 1.25rem 0.05rem;
        backdrop-filter: contrast(0.885);
        -webkit-backdrop-filter: contrast(0.885);
        color: #ffffff;
}
.hero-main-img-text-icon{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #E6533C;
}
/* hero-container */

main{
        /* max-width: 1080px; */
        margin: 0 auto;
}
.habits{
        max-width: 1080px;
        margin: 150px auto 0px auto;
}
.habits-tittle{
        max-width: 700px;
        margin: 0 auto;
}
.habits-text{
        text-align: center;
        font-size: 2.85rem;
        color: #ffffff;
        margin-bottom: 1.25rem;
}
.habits-description{
        font-size: 1rem;
        color: #ffffff;
        text-align: center;
}
.habits-imgs{
        display: flex;
        justify-content: center;
        gap: 25px;
        margin-top: 55px;
        text-align: center;
}
.habits-img img{
        border: 2px solid #000000;
        border-radius: 50%;
        margin-bottom: 20px;
}
.habits-img-text{
        font-weight: 600;
        color: #ffffff;
}
.habits-img-text p{
        margin-top: 20px;
        font-weight: 100;
        opacity: 0.50;
}
/* habits */

.run{
        max-width: 1080px;
        margin: 150px auto 150px auto;
        background-color:#222222;
        border-radius: 16px;
}
.run-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px;
}
.run-tittle{
        color: #ffffff;
}
.run-tittle h2{
        font-size: 60px;
        margin-bottom: 1rem;
}
.run-tittle p{
        font-weight: 100;
        font-size: 16px;
        margin-bottom: 25px;
}
.run-photo img{
        /*
         width: 320px;
        height: 360px;
         */
        border-radius: 16px;
}
.run-tittle .btn-primary{
        width: 100%;
        padding: 15px 100px;
}
/* run */

.training{
        max-width: 1080px;
        margin: 150px auto 0px auto;
}
.training-text h1{
        color: #ffffff;
        font-size: 46px;
        margin-bottom: 10px;
}
.training-text p{
        color: #ffffff;
        font-size: 16px;
        font-weight: 100;
        margin-bottom: 100px;
}


.row-1{
        display: grid;
        grid-template-columns: 0.77fr 1.7fr 0.9fr;
}

.training-card{
        max-height: 229px;
        position: relative;
}

/* row-1 *//* row-1 *//* row-1 */
#training-c-1{
        background: linear-gradient(rgba(6, 255, 210, 0.5),rgba(6, 255, 210, 0.5)), url('../images/exercise1.jpg');
        background-position: center;
        background-size: cover;
}
#training-c-2{
        background: linear-gradient(rgba(255, 0, 0, 0.3),rgba(255, 0, 0, 0.3)), url('../images/exercise2.png');
        background-position: center;
        background-size: cover;
}
#training-c-3 img{
        filter: brightness(70%);
}

/* row-1 *//* row-1 *//* row-1 */


.training-description{
        position: absolute;
        color: #ffffff;
        max-width: 200px;
        font-size: 0.85rem;
        top: 78%;
        left: 8%;
        transform: translate(5%, 5%);
}


#training-p{
        top: 10%;
        left: 8%;
        transform: translate(5%, 5%);
}

.row-2{
        display: grid;
        grid-template-columns: 1.5fr 0.9fr 1fr;
}


/* row-2 *//* row-2 *//* row-2 */
#training-c2-1 img{
        filter: brightness(50%);
}

#training-c2-2{
        background: linear-gradient(rgba(66, 255, 0, 0.3),rgba(66, 255, 0, 0.3)), url('../images/exercise5.jpg');
        background-position: center;
        background-size: cover;
}
#training-c2-3{
        background: linear-gradient(rgba(0, 71, 255, 0.3),rgba(0, 71, 255, 0.3)), url('../images/exercise6.jpg');
        background-position: center;
        background-size: cover;
}

/* row-2 *//* row-2 *//* row-2 */


#training-p-2{
        top: 10%;
        left: 50%;
        transform: translate(5%, 5%);
}

/* single training-photo change top and left  */

.training-card img{
        width: 100%;
        height: 229px;
}

/* training */


.calculator-content{
        max-width: 1080px;
        margin: 84px auto 88px auto;
}
.calculator-content-text{
        max-width: 600px;
        margin: 0 auto;
        color: #ffffff;
}
.calculator-content-text h1{
        font-size: 48px;
        font-weight: 900;
        margin-bottom: 14px;
}
.calculator-content-text p{
        font-size: 14px;
        font-weight: 100;
}

.calculator-main-content{
        max-width: 1440px;
        margin: 0 auto;
        background-color: #222222;
}
.calculator-m-c{
        max-width: 1080px;
        margin: 0 auto 0 auto;
        display: flex;
        justify-content: space-around;
}
.calculator-text{
        font-size: 28px;
        font-weight: 900;
        color: #ffffff;
        margin-bottom: 52px;
        margin-top: 52px;
}

/* table making */
table {
        border-collapse: collapse;
        width: 100%;
}
td{
        color: #ffffff;
        font-size: 1rem;
        font-weight: 500;
}
td, th {
        border: 1px solid #FFFFFF1A;
        text-align: left;
        padding: 8px;

}
th{
        font-size: 0.95rem;
        font-weight: 100;
        color: #FFFFFF80;
}
/* table making */


.calculator-your{
        max-width: 570px;
}
.calculator-your-text h1{
        font-size: 28px;
        font-weight: 900;
        color: #ffffff;
        margin-bottom: 14px;
        margin-top: 52px;
}
.calculator-your-text p{
        font-size: 14px;
        font-weight: 100;
        color: #FFFFFF80;
}

.calculator-input-field{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 12px;
        margin-top: 34px;
        margin-bottom: 34px;
}

.calculator-input-field input, .calculator-input-field select{
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        background: #FFFFFF1A;
        border: none;
        color: #FFFFFF99;
        font-size: 1rem;
}
#sp{
        grid-column: span 2;
}

.btn{
        padding: 16px 45px 16px 45px;
        border-radius: 42px;
        border: none;
        background-color: #E6533C;
        color: #ffffff;
        margin-bottom: 52px;
        cursor: pointer;
}

/* calculator */

.team{
        max-width: 1080px;
        margin: 0px auto;
}
.team-content{
        max-width: 600px;
        margin: 0px auto;
        text-align: center;
}
.team-content h1{
        font-size: 48px;
        font-weight: 900;
        margin-top: 88px;
        margin-bottom: 14px;
        color: #ffffff;
}
.team-content p{
        font-size: 14px;
        font-weight: 200;
        margin-bottom: 58px;
        color: #FFFFFF80;
}


.team-img{
        background: #FFFFFF1A;
        padding: 20px;
        border-radius: 16px;
}

.team-row-1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
}

/* team row 2 */
.team-row-2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        margin-top: 20px;
}
/* team row 2 */


.team-card img{
        width: 100%;
        height: 270px;
        border-radius: 16px;
}
.team-card{
        position: relative;
}

.team-card img{
        filter: brightness(70%);
}

.team-row-text{
        position: absolute;
        color: #ffffff;
        max-width: 200px;
        font-size: 0.85rem;
        top: 78%;
        left: 8%;
        transform: translate(5%, 5%);
}
.team-c-description{
        margin-top: 5px;
        text-align: left;
        font-weight: 100;
}
/* team */

footer{
        max-width: 1440px;
        margin: 130px auto 0px auto;
        background: #222222;
}
.footer-content{
        max-width: 1080px;
        margin: 0 auto;
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgb(129, 128, 128);
}
.footer-tittle{
        max-width: 400px;
}
.footer-tittle h1{
        font-size: 4.25rem;
        color: #E6533C;
        margin-bottom: 24px;
}
.footer-tittle p{
        font-size: 1rem;
        color: grey;
}
.footer-menu{
        display: flex;
        justify-content: space-between;
        gap: 150px;
        margin-bottom: 70px;
        margin-top: 2px;
}

.footer-menu-tittle-1 h2, .footer-menu-tittle-2 h2{
        font-size: 2.25rem;
        color: #ffffff;
        text-align: left;
        margin-bottom: 54px;
}
.footer-menu-tittle-1 ul{
        list-style: none;
}
.footer-menu-tittle-1 ul li, .footer-menu-tittle-2 ul li{
        margin-bottom: 10px;
}
.footer-menu-tittle-1 ul li a{
        font-size: 1.50rem;
        text-decoration: none;
        color: grey;
}


.footer-menu-tittle-2 ul{
        list-style: none;
}
.footer-menu-tittle-2 ul li a{
        font-size: 1.50rem;
        text-decoration: none;
        color: grey;
}
.footer-last-heading{
        max-width: 1080px;
        margin: 0 auto;
        padding: 25px 0px;
}
.footer-last-heading h4{
        text-align: center;
        color: grey;
        font-weight: 300;
}
/* footer */

@media screen and (max-width:576px) {
        *{
                padding: 0px 3px;
        }
        .nav-logo-name{
                margin-top: 30px;
                margin-left: -2px;
        }
        .nav-list-menu ul{
                display: none;
        }
        .menu-bar a{
                display: block;
        }
        /* .menu-bar a i{
                width: 200px;
                background-color: #ffffff;
        } */

        .hero-container{
                display: block;
        }
        .hero-tittle {
                margin-left: -2px;
        }
        .hero-tittle-text {
                font-size: 44px;
                color: #ffffff;
        }
        .description {
                font-size: 0.78rem;
                font-weight: 100;
                color: #FFFFFF80;
        }
        .btn-b{
                padding: 0px !important;
        }
        .btn-primary {
                padding: 0.70rem 0.95rem;
                font-size: 12px;
        }
        .btn-primary-2{
                padding: 0.70rem 0.95rem;
                font-size: 12px;
        }

        .hero-main-img{
                position: sticky;
        }
        .hero-main-img img{
                width: 100%;
                position: sticky;
                left: 48px;
        }

        .hero-main-img-text{
                top: 21%;
                left: 51%;
                width: 130px;
        }
        .hero-main-img-text-3{
                top: 72%;
                left: 1%;
                padding: 15px 5px 15px 8px;
        }
        /* header section */


        main {
                 margin: 0px;
        }
        .habits-imgs{
                flex-direction: column;
        }
        /* habit */


        .run-content{
                flex-direction: column;
        }
        .run-tittle h2 {
                font-size: 2.78rem;
        }
        .run-tittle p {
                font-weight: 100;
                font-size: 10px;
                margin-bottom: 20px;
        }
        .run-tittle .btn-primary {
                padding: 8px 0px;
                width: 100%;
                font-size: 12px;
        }
        .btn-primary{
                margin-bottom: 4rem;
        }
        .run-photo img{
                width: 100%;
        }

        /* run */


        .training-card img{
                width: 100%;
                height: 120px;
        }
        .training-description{
                font-size: 0.75rem;
        }
        .row-1{
                grid-template-columns: 1.2fr 1fr;
        }
        .row-1 img{
                max-width: 100%;
                height: 154px;
                padding: 0px;
        }
        .training-card{
                height: 154px;
                padding: 0px;
        }
        #training-c-3{
                display: none;
        }

        #training-c-2{
                background-position: right;
        }



        .row-2{
                grid-template-columns: 1fr 1.3fr;
        }
        .row-2 img{
                max-width: 100%;
                height: 154px;
                padding: 0px;
        }
        #training-c2-3{
                display: none;
        }
        /* training */


        .calculator-content-text h1 {
                font-size: 1.5rem;
        }
        .calculator-content-text p {
                font-size: 10px;
        }

        .calculator-m-c{
                flex-direction: column;
        }
        /* calculator */


        .team-row-1{
                grid-template-columns: repeat(1,1fr);
        }
        .team-row-1 img{
                height: 258px;
        }

        /* team */

        .footer-content{
                flex-direction: column;
        }

        .footer-menu{
                flex-direction: column;
                gap: 26px;
                margin-top: 50px;
        }
        /* footer */

}